DATABASE_URL=postgres://postgres:mypassword@localhost:5432/postgres

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
