:root {
  --color-white: hsl(0, 0%, 100%);

  --color-gray-950: hsl(200, 10%, 5%);
  --color-gray-900: hsl(200, 10%, 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto-mono);
}

body {
  background-color: var(--color-gray-950);
  color: var(--color-white);
}
