:root {
  --color-white: hsl(0, 0%, 100%);
  --color-bg: hsl(200, 10%, 10%);
}

* {
  font-family: var(--font-roboto-mono);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
}
