.nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 32px;
}
