:root {
  --color-white: hsl(0, 0%, 100%);

  --color-bg: hsl(200, 10%, 5%);

  --color-timer-ready: hsl(100, 50%, 70%);
  --color-timer-running: hsl(100, 50%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono Variable', monospace;
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
}
